:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  /*min-height: 100vh;*/
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  width: 100%;
  height: 100%;
  margin: 0;
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .modal {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }

  .modal .modal-form-content {
    display: flex;
    gap: 1rem;
  }

  .modal .align-text-input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .modal input {
    flex: 1;
    padding: 0.5rem;
    font-size: 20px;
  }

  .modal input.quantità,
  .modal input.prezzo {
    max-width: 70px;
    font-size: 25px;
  }

  .modal select {
    font-size: 20px;
    height: 100%;
  }
  .modal .checkbox-row input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #555;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    background: white;
    transition: all 0.2s;
  }

  .modal .checkbox-row input:checked {
    background-color: #4CAF50;
    border-color: #4CAF50;
  }

  .modal .checkbox-row input:checked::after {
    content: "✔";
    color: white;
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 3px;
  }

  .modal-actions {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
  }
  .hidden {
    display: none !important;
  }
  .visible{
  display: block !important;
  }
  .back-page{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 5px;
    .icon-back-page{
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3Csvg width='40px' height='40px' viewBox='0 -6.5 38 38' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Eleft-arrow%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='icons' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='ui-gambling-website-lined-icnos-casinoshunter' transform='translate(-1641.000000, -158.000000)' fill='%231C1C1F' fill-rule='nonzero'%3E%3Cg id='1' transform='translate(1350.000000, 120.000000)'%3E%3Cpath d='M317.812138,38.5802109 L328.325224,49.0042713 L328.41312,49.0858421 C328.764883,49.4346574 328.96954,49.8946897 329,50.4382227 L328.998248,50.6209428 C328.97273,51.0514917 328.80819,51.4628128 328.48394,51.8313977 L328.36126,51.9580208 L317.812138,62.4197891 C317.031988,63.1934036 315.770571,63.1934036 314.990421,62.4197891 C314.205605,61.6415481 314.205605,60.3762573 314.990358,59.5980789 L322.274264,52.3739093 L292.99947,52.3746291 C291.897068,52.3746291 291,51.4850764 291,50.3835318 C291,49.2819872 291.897068,48.3924345 292.999445,48.3924345 L322.039203,48.3917152 L314.990421,41.4019837 C314.205605,40.6237427 314.205605,39.3584519 314.990421,38.5802109 C315.770571,37.8065964 317.031988,37.8065964 317.812138,38.5802109 Z' id='left-arrow' transform='translate(310.000000, 50.500000) scale(-1, 1) translate(-310.000000, -50.500000) '%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      background-repeat: no-repeat;
      width: 40px;
      height: 40px;
    }
    .text-back{
      font-size: 24px;
      font-weight: 700;
      color: #213547;
    }
  }

  .button-app-top-label-db-name {
    position: fixed;
    top: 0;
    right: 210px;
    z-index: 1000;
    background: #eee;
    padding: 2px 16px;
    border-radius: 0 0 0 8px;
    min-width: 120px;
    text-align: right;
  }

  .button-app-top-label-role-name {
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    background: #eee;
    padding: 2px 16px;
    border-radius: 0 0 0 8px;
    min-width: 120px;
    text-align: right;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #74caff;
  }
  button {
    background-color: #74caff;
  }
}
